.feynman__link {
  position: absolute;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  color: #2f80ed;
  top: 50%;
  right: 48px;
  z-index: 2;
  text-decoration: none;
  transition: opacity .5s ease-in;
}

.feynman__link:hover {
  opacity: 0.5;
}
