
.footer {
  box-sizing: border-box;
  min-height: 350px;
  padding: 60px 0 40px;
  background-color: #1f1f1f;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 90%;
  min-height: 250px;
}

.footer__column_content_copyright {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-basis: 711px;
}

.logo_place_footer {
  width: 183px;
  height: 35px;
}

.footer__author {
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  margin-bottom: 18px;
  color: white;
}

.footer__column-heading {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: white;
  margin: 0;
  padding: 0;
}

.footer__column-links {
  list-style: none;
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 16px;
  padding: 0px;
}

.footer__column-link {
  text-decoration: none;
  color: white;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
